exploratory_phase/false_belief_cleaning/.env

capstone_venv

socialiqa-train-dev

metamind_fork/results

metamind_fork/config.pymetamind_fork/config.py
__pycache__/
metamind_fork/config.py
__pycache__/
